[class*="-svg"]:hover {
  fill: black;
}
.outer-carousel > div {
  border: solid 0px;
  border-radius: 10px;
}
.outer-carousel {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: #f0f0f0;
}

.carousel-container {
  position: relative;
  width: 80vw; /* Genişliği ayarlayın */
  overflow: hidden;
  height: 100%;
}

.carousel {
  display: flex;
  width: 100%;
  overflow: hidden;
  height: 100%;
}

.carousel-wrapper {
  display: flex;
  width: calc(100% * 10); /* 8 orijinal + 2 klon */
  transition: transform 0.5s ease;
  height: 100%;
}

.carousel-element {
  flex: 0 0 25%; /* 100% / 4 öğe */
  box-sizing: border-box;
  padding: 10px;
  background: #ddd;
  text-align: center;
  font-size: 24px;
  border: 1px solid #ccc;
  height: 500px;
  width: 60px;
}
.carousel-element img {
  width: 20vh;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

#prevBtn {
  left: 0;
}

#nextBtn {
  right: 0;
}
@media only screen and (min-width: 640px) {
  .carousel-element {
    flex: 0 0 100%;
    height: 125px;
  }
  .carousel-wrapper,
  .carousel,
  .carousel-container,
  .outer-carousel {
    height: 150px;
  }
  /* .first-row-5,
  .first-row-4,
  .first-row-3,
  .first-row-2,
  .first-row-1 {
    width: 45px;
  }
  .publisher-first-row {
    width: 35vw;
  } */
}

@media only screen and (min-width: 768px) {
  .carousel-element {
    flex: 0 0 50%;
    height: 250px;
  }
  .carousel-wrapper,
  .carousel,
  .carousel-container,
  .outer-carousel {
    height: 300px;
  }
}
@media only screen and (min-width: 1280px) {
  .carousel-element {
    flex: 0 0 25%;
    height: 250px;
  }
  .carousel-wrapper,
  .carousel,
  .carousel-container,
  .outer-carousel {
    height: 300px;
  }
}
