<div
  class="screen flex flex-row bg-[#F8F8F8] justify-center w-[100vw] pb-[10px]"
>
  <div class="outer w-[80vw] flex-column justify-center">
    <div
      class="inner-1 flex flex-row justify-between items-center w-[80vw] p-4"
    >
      <div class="logo">
        <img
          src="../../../../assets/images/book.jpeg"
          alt=""
          class="w-[58px] h-auto inline-block"
        />
      </div>
      <div class="menu">
        <div
          class="dropdown border-solid border-2 shadow hover:border-black hover:border-4"
        >
          <button class="dropbtn text-[#E30613] font-bold">Dropdown</button>
          <div class="dropdown-content z-10">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </div>
      </div>
      <div class="search relative">
        <input
          type="text"
          class="border border-gray-300 pl-10 pr-4 py-2 focus:outline-none focus:border-blue-500 w-[30vw] rounded-[10px]"
          placeholder="Search"
        />
        <div
          class="absolute inset-y-0 right-3 pl-3 flex items-center pointer-events-none"
        >
          <i class="fa fa-search text-gray-400"></i>
        </div>
      </div>
      <div
        class="register w-[106px] h-[56px] flex justify-center items-center border-solid border-2 shadow rounded-[10px] hover:border-black text-[#E30613] font-bold hover:border-4"
      >
        <div class="register-text border-solid border-black-300 text-center">
          Register
        </div>
      </div>
      <div
        class="login w-[106px] h-[56px] flex justify-center items-center border-solid border-2 shadow rounded-[10px] hover:border-black text-[#E30613] font-bold hover:border-4"
      >
        <div class="login-text border-solid border-black-300 text-center">
          Login
        </div>
      </div>
      <div
        class="cart w-[106px] h-[56px] flex justify-center items-center border-solid border-2 shadow rounded-[10px] hover:border-black text-[#E30613] font-bold hover:border-4"
      >
        <div class="cart-text border-solid border-black-300 text-center">
          Cart
        </div>
      </div>
    </div>
    <div
      class="inner-2 flex flex-row justify-between items-center w-[80vw] bg-[#F8F8F8] pt-[10px]"
    >
      <div
        class="literature-books w-[10vw] text-center hover:text-orange-700 font-bold"
      >
        LITERATURE BOOKS
      </div>
      <div
        class="stationary w-[10vw] text-center hover:text-orange-700 font-bold"
      >
        STATIONARY
      </div>
      <div
        class="school-books w-[10vw] text-center hover:text-orange-700 font-bold"
      >
        SCHOOL BOOKS
      </div>
      <div class="toy w-[10vw] text-center hover:text-orange-700 font-bold">
        TOY
      </div>
      <div
        class="exam-books w-[10vw] text-center hover:text-orange-700 font-bold"
      >
        EXAM BOOKS
      </div>
      <div
        class="suggested-books w-[10vw] text-center hover:text-orange-700 font-bold"
      >
        SUGGESTED BOOKS
      </div>
      <div
        class="all-campaign w-[10vw] text-center hover:text-orange-700 font-bold"
      >
        ALL CAMPAIGN
      </div>
      <div
        class="best-seller w-[10vw] text-center hover:text-orange-700 font-bold"
      >
        BESTSELLER
      </div>
    </div>
  </div>
</div>
