<div class="outer-register w-[100vw] h-[180vh] flex flex-col items-center">
  <div
    class="top w-[90vw] h-[10vh] bg-[#333333] text-[white] leading-[10vh] text-center text-[40px] font-bold border rounded-[10px]"
  >
    Create New Membership
  </div>
  <form [formGroup]="formUser" (ngSubmit)="addUser()">
    <div
      class="bottom w-[90vw] h-[170vh] flex justify-center items-center pt-[10px] pb-[10px] border-l rounded-[10px]"
    >
      <div class="left flex justify-center w-[45vw] h-[170vh]">
        <div class="inner w-[30vw] h-[170vh] flex flex-col justify-around">
          <div class="register-username flex flex-col justify-between space">
            <label for="" class="pb-[5px] mt-[10px] label-css">Username</label>
            <input
              type="text"
              class="input-text-css"
              formControlName="Username"
            />
            <ng-container *ngIf="usernameError">
              <div *ngFor="let error of usernameError" class="error">
                {{ error }}
              </div>
            </ng-container>
          </div>
          <div class="register-email flex flex-col justify-between space">
            <label for="" class="pb-[5px] mt-[10px] label-css">Email</label>
            <input type="text" class="input-text-css" formControlName="Email" />
            <ng-container *ngIf="emailError">
              <div *ngFor="let error of emailError" class="error">
                {{ error }}
              </div>
            </ng-container>
          </div>
          <div class="register-password flex flex-col justify-between space">
            <label for="" class="pb-[5px] label-css">Password</label>
            <input
              type="password"
              class="input-text-css"
              formControlName="PasswordHash"
            />
            <ng-container *ngIf="passwordError">
              <div *ngFor="let error of passwordError" class="error">
                {{ error }}
              </div>
            </ng-container>
          </div>
          <div class="name flex flex-col justify-between space">
            <label for="" class="pb-[5px] label-css">Name</label>
            <input type="text" class="input-text-css" formControlName="Name" />
            <ng-container *ngIf="nameError">
              <div *ngFor="let error of nameError" class="error">
                {{ error }}
              </div>
            </ng-container>
          </div>
          <div class="surname flex flex-col justify-between space">
            <label for="" class="pb-[5px] label-css">Surname</label>
            <input
              type="text"
              class="input-text-css"
              formControlName="Surname"
            />
            <ng-container *ngIf="surnameError">
              <div *ngFor="let error of surnameError" class="error">
                {{ error }}
              </div>
            </ng-container>
          </div>
          <div class="phone flex flex-col justify-between space">
            <label for="phone-input" class="pb-[5px] label-css">
              Phone Number
            </label>
            <div class="flex flex-col">
              <div class="flex">
                <select
                  (ngModelChange)="onCountryChange()"
                  class="w-[180px] input-text-css px-3 py-2"
                >
                  <option
                    *ngFor="let country of countryCodes"
                    [ngValue]="country"
                  >
                    {{ country.country }} ({{ country.code }})
                  </option>
                </select>
                <input
                  type="text"
                  class="flex-grow ml-2 input-text-css"
                  formControlName="PhoneNumber"
                />
              </div>
              <ng-container *ngIf="phoneNumberError">
                <div *ngFor="let error of phoneNumberError" class="error">
                  {{ error }}
                </div>
              </ng-container>
            </div>
          </div>
          <div class="address flex flex-col justify-between space">
            <label for="" class="pb-[5px] label-css">Address</label>
            <textarea
              rows="2"
              class="input-text-css"
              formControlName="AddressText"
            ></textarea>
            <ng-container *ngIf="addressError">
              <div *ngFor="let error of addressError" class="error">
                {{ error }}
              </div>
            </ng-container>
          </div>
          <div class="city flex flex-col justify-between space">
            <label for="" class="pb-[5px] label-css">Choose a city</label>
            <select
              class="input-text-css h-[40px]"
              (ngModelChange)="onCityChange()"
              formControlName="City"
            >
              <option *ngFor="let city of data" [value]="city.name">
                {{ city.name }}
              </option>
            </select>
            <ng-container *ngIf="cityError">
              <div *ngFor="let error of cityError" class="error">
                {{ error }}
              </div>
            </ng-container>
          </div>
          <div
            class="district flex flex-col justify-between space"
            *ngIf="address.City"
          >
            <label for="" class="pb-[5px] label-css">Choose a district</label>
            <select
              class="input-text-css h-[40px]"
              (ngModelChange)="onDistrictChange()"
              formControlName="District"
            >
              <option
                *ngFor="let district of filteredDistricts"
                [value]="district"
              >
                {{ district }}
              </option>
            </select>
            <ng-container *ngIf="districtError">
              <div *ngFor="let error of districtError" class="error">
                {{ error }}
              </div>
            </ng-container>
          </div>
          <div
            class="neighbourhood flex flex-col justify-between space"
            *ngIf="address.District"
          >
            <label for="" class="pb-[5px] label-css"
              >Choose a neighbourhood</label
            >
            <select
              class="input-text-css h-[40px]"
              formControlName="Neighbourhood"
            >
              <option
                *ngFor="let neighbourhood of filteredNeighbourhood"
                [value]="neighbourhood"
              >
                {{ neighbourhood }}
              </option>
            </select>
            <ng-container *ngIf="neighbourhoodError">
              <div *ngFor="let error of neighbourhoodError" class="error">
                {{ error }}
              </div>
            </ng-container>
          </div>
          <div
            class="contract text-center space text-[20px] flex justify-center items-center"
          >
            <label class="membership-aggreement">
              <input type="checkbox" />
              I accept the
              <a href="" class="underline">Membership Agreement</a> and the
              <a href="" class="underline">Protection of My Personal Data</a>.
            </label>
          </div>
          <div class="pdpl text-center space text-[20px] flex justify-center">
            <label class="privacy-policy">
              <input type="checkbox" class="mr-[7px]" />
              <a href="" class="underline"
                >Click here to read our Privacy Policy</a
              >, as required by the Personal Data Protection Law.
            </label>
          </div>
          <div class="captcha space text-center">
            <div>Captcha</div>
          </div>
          <div class="register-button space text-center">
            <button
              type="submit"
              class="bg-red-500 rounded-[10px] w-[100px] h-[50px] text-white font-bold tracking-[3px] hover:bg-slate-500"
            >
              Register
            </button>
          </div>
          <div class="reigster-login-button space">
            <a href="" class="text-center block text-[20px]">Click for Login</a>
          </div>
          <div class="forgot-password mb-[15px] space">
            <a href="" class="text-center block text-[20px]">Forgot Password</a>
          </div>
        </div>
      </div>

      <div
        class="right w-[45vw] h-[170vh] border-r rounded-[10px] flex justify-center items-center"
      >
        <div class="right-text text-white font-bold w-[20vw] h-[55vh]">
          Create Membership
          <br /><br />
          By becoming a member of our website, you can track your orders in
          real-time and take advantage of campaigns and discounts.
          <br /><br />
          Additionally, you can purchase products with MoneyPoint, which you can
          use for your shopping.
          <br /><br />
          You can also track your order history.
          <br /><br />
          We wish you a pleasant shopping experience...
        </div>
      </div>
    </div>
  </form>
</div>
